<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mp-coins-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,656},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{96,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>mp-coins-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,590},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>mp-coins-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,136},{150,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,60},{150,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mp-coins-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,416},{190,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,56},{190,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mp-coins-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,560},{106,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{106,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>mp-coins-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,560},{138,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,13},{138,102}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>mp-coins-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{150,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,59},{150,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mp-coins-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,272},{190,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,56},{190,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tapjoy-redford.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{330,226}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,14},{330,226}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>tellafriend-entercode.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,412},{268,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,39},{268,178}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>tellafriend-givecode.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{308,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,35},{308,186}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>store_megapoints.png</string>
        </dict>
    </dict>
</plist>
