<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>store-power-gravboot-mega.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1716},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-power-gravboot-regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1430},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-power-gravboot-super.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1144},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-power-gravboot-turbo.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1144},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-power-jumpboots-mega.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1144},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-power-jumpboots-super.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1748},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-power-jumpboots-turbo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1462},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-power-luckyblast-mega.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1176},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-power-luckyblast-regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,858},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-power-luckyblast-super.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,858},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-power-luckyblast-turbo.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,858},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-power-magnet-mega.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,858},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-power-magnet-super.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,572},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-power-magnet-turbo.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,572},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-power-shield-mega.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,572},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-power-shield-regular.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,572},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-power-shield-super.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,286},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-power-shield-turbo.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,286},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-power-umbrella-mega.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,286},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-power-umbrella-super.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,286},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-power-umbrella-turbo.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,0},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-powerballoon-mega.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,0},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-powerballoon-super.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,0},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>store-powerballoon-turbo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{237,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,285}}</string>
                <key>sourceSize</key>
                <string>{237,285}</string>
            </dict>
            <key>upgradepath-balloon-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1323},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-balloon-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1274},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-balloon-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1225},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-balloon-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1176},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-gravboot-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1127},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-gravboot-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1078},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-gravboot-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1029},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-gravboot-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,980},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-jumpboots-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,931},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-jumpboots-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,882},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-jumpboots-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,833},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-jumpboots-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,784},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-luckyblast-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,735},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-luckyblast-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,686},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-luckyblast-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,637},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-luckyblast-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,588},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-magnet-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,539},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-magnet-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,490},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-magnet-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,441},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-magnet-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,392},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-shield-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,343},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-shield-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,294},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-shield-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,245},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-shield-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,196},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-umbrella-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,147},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-umbrella-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,98},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-umbrella-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,49},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>upgradepath-umbrella-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,0},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>store_powerups.png</string>
        </dict>
    </dict>
</plist>
