<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coincollect_ui.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,124},{70,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{88,36}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,36}}</string>
                <key>sourceSize</key>
                <string>{88,36}</string>
            </dict>
            <key>game-over-coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,159},{64,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>game-over-mp.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,76},{78,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,83}}</string>
                <key>sourceSize</key>
                <string>{78,83}</string>
            </dict>
            <key>game-over-x.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,146},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>game-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{423,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,76}}</string>
                <key>sourceSize</key>
                <string>{423,76}</string>
            </dict>
            <key>height.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,184},{118,36}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{118,36}}</string>
                <key>sourceSize</key>
                <string>{118,36}</string>
            </dict>
            <key>hi-score.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,124},{60,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,22}}</string>
                <key>sourceSize</key>
                <string>{60,22}</string>
            </dict>
            <key>how-to-play-iphone.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,0},{66,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,124}}</string>
                <key>sourceSize</key>
                <string>{66,124}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,220},{88,36}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,36}}</string>
                <key>sourceSize</key>
                <string>{88,36}</string>
            </dict>
            <key>stageclear_unlocked.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,76},{294,102}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{294,102}}</string>
                <key>sourceSize</key>
                <string>{294,102}</string>
            </dict>
            <key>stat-new.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,76},{51,30}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,30}}</string>
                <key>sourceSize</key>
                <string>{51,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,256}</string>
            <key>textureFileName</key>
            <string>game_layer_anti_aliased.png</string>
        </dict>
    </dict>
</plist>
