<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>OF_custom_background.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{10,10},{500,820}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,820}}</string>
                <key>sourceSize</key>
                <string>{500,820}</string>
            </dict>
            <key>OF_custom_decline_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,830},{180,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,74}}</string>
                <key>sourceSize</key>
                <string>{180,74}</string>
            </dict>
            <key>OF_custom_enable_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,830},{308,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,76}}</string>
                <key>sourceSize</key>
                <string>{308,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>openfeint_approval.png</string>
        </dict>
    </dict>
</plist>
