<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player01_balloon_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,112},{122,106}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{122,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>player01_balloon_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,0},{128,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{128,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>player01_balloon_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,0},{128,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{128,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>player01_balloon_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{189,145}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{189,145}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>player01_boost_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,188},{62,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{62,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,426},{60,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{60,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,217},{58,70}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,145},{58,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,116},{58,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,145},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_fall_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,116},{70,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{70,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_fall_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,178},{70,60}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{70,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_fall_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,272},{68,60}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{68,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_idle_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,376},{64,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{64,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,340},{64,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{64,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,302},{66,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{66,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,280},{68,60}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{68,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_jump_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,252},{66,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{66,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_jump_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,218},{66,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{66,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_jump_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,364},{64,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{64,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,415},{60,66}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{60,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0000_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,349},{60,66}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{60,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,283},{60,66}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{60,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0001_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,217},{60,66}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{60,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,354},{58,66}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{58,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0002_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,419},{58,66}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{58,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,286},{56,68}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{56,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0003_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,218},{56,68}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{56,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,353},{58,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{58,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0004_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,287},{58,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{58,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_steer_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,314},{64,62}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{64,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_steer_0007_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,399},{64,62}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{64,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_steer_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,238},{64,64}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{64,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_steer_0008_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,273},{64,64}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{64,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,332},{62,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{62,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,209},{64,64}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,402},{64,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{64,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,337},{64,62}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{64,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,0},{66,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{66,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,145},{66,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{66,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,70},{66,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{66,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,438},{66,54}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{66,54}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,204},{68,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{68,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,136},{68,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{68,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>bluto_atlas.png</string>
        </dict>
    </dict>
</plist>
