<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player01_balloon_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,100}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{104,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>player01_balloon_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,0},{114,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{114,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>player01_balloon_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,105},{126,106}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{126,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>player01_balloon_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{193,151}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{193,151}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>player01_boost_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,212},{56,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{56,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{56,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{56,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,364},{54,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{54,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,364},{54,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{54,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,364},{54,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,435},{54,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_fall_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,435},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{60,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_fall_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,435},{60,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{60,54}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_fall_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,435},{56,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{56,54}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_idle_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,506},{56,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{56,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,506},{56,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{56,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,506},{58,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{58,54}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,506},{58,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{58,54}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_jump_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,563},{58,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{58,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_jump_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,563},{56,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{56,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_jump_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,563},{56,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{56,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,563},{56,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{56,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0000_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,626},{56,60}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{56,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,626},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{58,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0001_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,626},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{58,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,626},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{60,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0002_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,687},{60,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{60,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,687},{60,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{60,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0003_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,687},{60,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,687},{60,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{60,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0004_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,752},{60,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{60,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_steer_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,752},{58,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{58,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_steer_0007_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,752},{58,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{58,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_steer_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,752},{60,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{60,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_steer_0008_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,817},{60,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{60,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,817},{56,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{56,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,817},{56,58}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{56,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,817},{56,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{56,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,880},{56,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{56,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,880},{56,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{56,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,880},{60,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{60,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,880},{60,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{60,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,949},{60,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{60,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,949},{60,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{60,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,949},{58,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{58,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>com.getsetgames.megajump.char.busterlights.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:011510c57bc1e778d92055b4b17699c4$</string>
            <key>textureFileName</key>
            <string>com.getsetgames.megajump.char.busterlights.png</string>
        </dict>
    </dict>
</plist>
