<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player01_balloon_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{100,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>player01_balloon_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,0},{104,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{104,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>player01_balloon_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,123},{104,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{104,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>player01_balloon_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,123},{149,187}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{149,187}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>player01_boost_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,311},{58,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,311},{58,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,311},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,311},{60,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,384},{58,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_fall_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,384},{58,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{58,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_fall_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,384},{60,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{60,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_fall_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,457},{62,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{62,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_idle_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,457},{60,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{60,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,457},{60,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{60,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,457},{60,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{60,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,524},{60,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{60,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_jump_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,524},{60,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{60,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_jump_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,524},{58,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_jump_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,524},{58,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,597},{58,68}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{58,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0000_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,597},{58,68}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{58,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,597},{58,66}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{58,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0001_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,597},{58,66}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{58,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,666},{58,66}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{58,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0002_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,666},{58,66}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{58,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,666},{58,68}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{58,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0003_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,666},{58,68}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{58,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,735},{58,70}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{58,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0004_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,735},{58,70}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_steer_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,735},{58,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_steer_0007_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,735},{58,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_steer_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,808},{60,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_steer_0008_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,808},{60,72}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,808},{58,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{58,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,808},{58,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{58,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,881},{60,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{60,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,881},{60,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{60,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,881},{58,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{58,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,881},{58,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{58,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,952},{58,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{58,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,952},{54,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{54,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,952},{54,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{54,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,952},{56,66}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{56,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>com.getsetgames.megajump.char.martybox.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2c4dc5771acd5afb987493d70cbb588$</string>
            <key>textureFileName</key>
            <string>com.getsetgames.megajump.char.martybox.png</string>
        </dict>
    </dict>
</plist>
