<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player01_balloon_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,100},{120,96}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{120,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>player01_balloon_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,0},{126,100}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{126,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>player01_balloon_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,0},{128,102}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{128,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>player01_balloon_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{179,149}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{179,149}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>player01_boost_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,212},{72,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{72,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,170},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{72,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,102},{70,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,215},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,72},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,149},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{68,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_fall_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,350},{72,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_fall_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,345},{72,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_fall_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,401},{72,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_idle_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,401},{60,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{60,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,345},{60,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{60,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,406},{62,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{62,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,455},{66,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{66,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_jump_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,438},{70,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{70,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_jump_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,382},{72,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_jump_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,374},{72,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,430},{70,56}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{70,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0000_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,426},{70,56}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{70,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,326},{72,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0001_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,370},{72,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,270},{72,56}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0002_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,348},{72,56}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,294},{72,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0003_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,314},{72,56}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,292},{72,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0004_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,258},{72,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_steer_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,404},{68,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{68,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_steer_0007_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,316},{68,58}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{68,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_steer_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,256},{66,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{66,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_steer_0008_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,196},{66,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{66,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,236},{72,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{72,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,196},{72,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{72,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,234},{72,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{72,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,0},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,144},{70,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,283},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{66,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,285},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{66,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,219},{66,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{66,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,170},{72,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{72,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,149},{72,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>dizzy_atlas.png</string>
        </dict>
    </dict>
</plist>
