<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player01_balloon_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,114}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{128,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>player01_balloon_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,0},{128,106}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{128,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>player01_balloon_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{128,102}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{128,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>player01_balloon_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,115},{191,153}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{191,153}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>player01_boost_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,115},{66,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{66,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,115},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{64,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,115},{62,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{62,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,115},{60,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{60,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,115},{58,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{58,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_boost_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,269},{56,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{56,68}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_fall_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,269},{72,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{72,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_fall_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,269},{72,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{72,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_fall_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,269},{72,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{72,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_idle_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,269},{66,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{66,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,269},{68,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{68,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,269},{72,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{72,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,338},{72,58}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{72,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_jump_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,338},{72,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{72,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_jump_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,338},{70,66}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{70,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_jump_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,338},{68,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{68,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,338},{54,58}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{54,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0000_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,338},{54,58}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{54,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,338},{52,58}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{52,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0001_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,338},{52,58}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{52,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,405},{48,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{48,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0002_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,405},{48,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{48,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,405},{50,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{50,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0003_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,405},{50,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{50,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,405},{54,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{54,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_run_0004_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,405},{54,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{54,58}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_steer_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,405},{68,64}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{68,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_steer_0007_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,405},{68,64}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{68,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_steer_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,470},{68,62}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{68,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_steer_0008_flip.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,470},{68,62}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{68,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,470},{72,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,470},{72,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,470},{72,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{72,50}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,470},{72,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{72,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,470},{72,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,537},{72,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{72,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,537},{72,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,537},{70,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{70,54}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,537},{70,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{70,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>player01_tumble_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,537},{72,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>com.getsetgames.megajump.char.pepper.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1e2564cafb83a13a91b72da6842db8f$</string>
            <key>textureFileName</key>
            <string>com.getsetgames.megajump.char.pepper.png</string>
        </dict>
    </dict>
</plist>
